-# style this page to match the design file
-# Design file: https://www.dropbox.com/s/zv1ew9qym7ivntk/checkout_shared.ai?dl=0
-# instructions: https://www.evernote.com/l/ACKh4l09QcxMap3B3hygaRVCZmI9VwiQhSc
-# do as much as you can within two hours
-# ignore header and footer for now
-# the more commits the better
-# details matter
-# commenting doesn't hurt either
-# submit a PR when complete

-# hint, do a project wide search for "todo"



.checkout

  .left-pane
    = simple_form_for @request, url: process_checkout_path do |f|

      = f.input :name, label: 'Student\'s name', label_html: {class: 'display-block'}, wrapper_html: {class: 'row col-sm-8'}
      = f.fields_for :location, Location.new do |l|
        .row.col-sm-8
          %label.display-block Location Type
          = l.select :style, Location::STYLES

        .row
          = l.input :address_1, label: 'Address', label_html: {class: 'display-block'}, wrapper_html: {class: 'col-sm-8'}
          = l.input :apartment_number, label: 'Apt # (If Applicable)', label_html: {class: 'display-block'}, wrapper_html: {class: 'col-sm-4'}

        .row
          = l.input :zip, label: 'Zip Code', label_html: {class: 'display-block'}, wrapper_html: {class: 'col-sm-4'}
          .col-sm-8.save-address-box
            %label Save Address
            = f.input_field :save_address, as: :boolean, class: 'initial-width'

      .row
        .col-sm-12
          %label.display-block Special Instructions(Optional)
          = f.text_area :comment, class: 'col-sm-12'


    %hr
    %h4 Payment Information
    %p Please note, you will not be charged until after the session. If you’re unsatisfied with your experience, there’s a money-back guarantee.

    = form_tag process_card_path, method: :post, id: 'payment-form' do
      .row
        .col-sm-8
          %label.display-block Card Number
          = text_field_tag :number, nil, {'data-stripe' => 'number', class: 'form-control'}
      .row
        .col-sm-8
          %label.display-block Expiration
          .col-sm-6
            = select_tag :exp_month, options_for_select(@months, Date.today.month), {'data-stripe' => 'exp_month'}
          .col-sm-6
            = select_tag :exp_year, options_for_select(@next_ten_years), {'data-stripe' => 'exp_year'}
        .col-sm-4
          = label_tag 'CVV'
          = text_field_tag :cvv, nil, {'data-stripe' => 'cvv'}

  .right-pane

    .div Grade #{@grade}

    -# go look at base.js.coffee. The action starts there :)
    .btn.btn-primary.btn-block#checkout Complete Booking


