!!!
%html
  %head
    %title RegistrationTest
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/application_header'
    -# TODO_2 render flash messages partial
    -# flash header image: https://www.evernote.com/l/ACK-o6md935HiKUUDeHBEZYBFyiXSnRQy2Q
    .container
      = yield
