!!!
%html
  %head
    %title RegistrationTest
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/application_header'

    -# TODO render flash messages partial
    = render 'shared/flash'

    = yield

    -# TODO add footer

    %footer.footer
      © 2015 Company Inc
      %ul.nav.navbar-nav.navbar-right.nav-social
        %li
          %a
            %i.circle-icon{:class=>"glyphicon glyphicon-user"}
        %li
          %a
            %i.circle-icon{:class=>"glyphicon glyphicon-user"}
        %li
          %a
            %i.circle-icon{:class=>"glyphicon glyphicon-user"}
        %li
          %a
            %i.circle-icon{:class=>"glyphicon glyphicon-user"}
