!!!
%html
  %head
    %title RegistrationTest
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/application_header'
    -# TODO_2 render flash messages partial
    -# flash header image: https://www.evernote.com/l/ACK-o6md935HiKUUDeHBEZYBFyiXSnRQy2Q
    #flash-message
      - if flash[:error].present?
        .alert.alert-danger.fade.in
          %strong Error! #{flash[:error]}

      - if flash[:notice].present?
        .alert.alert-success.fade.in
          = flash[:notice]

      - if flash[:alert].present?
        .alert.alert-warning.fade.in
          %strong Warning! #{flash[:alert]}

    .container
      = yield
